@import url(../style/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", Roboto, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

.hello {
  color: #292929;
  height: 100vh;
  min-height: 40.625rem;
  background-color: #F5F5F5;
  position: relative;
}
.hello:after {
  position: absolute;
  right: 10%;
  bottom: -0.1875rem;
  content: " ";
  width: 3.125rem;
  height: 0.6875rem;
  border: solid;
  color: #C4C4C4;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hello__title-section {
  width: 46%;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3rem 0;
  background: url(../img/elipse.png) right center/50% auto no-repeat;
}

.hello__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.4375rem;
  text-transform: uppercase;
}

.hello__desc-title {
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  line-height: 1.1;
  margin-bottom: 3.0625rem;
  padding-right: 23%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 1.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.875rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.6875rem;
}

.phone-number__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.features__item {
  margin-right: 0.8125rem;
}
.features__item:last-child {
  margin-right: 0;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.3125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.btn--theme--pink {
  background: #E01F3D;
  color: #fff;
  cursor: pointer;
}
.btn--theme--pink:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  font-size: 1rem;
  max-width: 7.125rem;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.4375rem;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.125rem;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  margin-bottom: 3.75rem;
}

.headline__title {
  margin-bottom: 1.125rem;
}
.headline__title--theme-dark {
  color: #fff;
}

.headline__subtitle {
  padding: 0 25%;
  line-height: 1.1875rem;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url(../img/png/shape.png);
  position: absolute;
  top: 2.875rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefits__section {
  position: relative;
}
.benefits__section::after {
  position: absolute;
  left: 5%;
  bottom: -0.0625rem;
  width: 2.125rem;
  height: 2.125rem;
  content: url(../img/png/trianglered.png);
}

.benefit {
  text-align: center;
}

.benefit__img-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.4375rem;
}

.benefit__desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem 2.4375rem 2.9375rem 2.1875rem;
  position: relative;
  overflow: hidden;
}
.reviews__display::before {
  content: " ";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.625rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem 0rem 0rem 0.25rem;
}

.reviews__avatar {
  height: 16.5rem;
  width: 15.8125rem;
  margin-right: 2.5rem;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 2.125rem;
}

.reviews__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
  padding-right: 3.875rem;
  line-height: 1.1875rem;
}

.reviews__autor {
  font-weight: 700;
  font-size: 1.125rem;
  color: #292929;
}

.reviews__section {
  position: relative;
}
.reviews__section::after {
  position: absolute;
  left: 5%;
  bottom: -0.0625rem;
  width: 2.1875rem;
  height: 2.1875rem;
  content: url(../img/png/ellipse7.png);
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.375rem;
}

.form__input {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 10.5rem;
  resize: none;
  margin-bottom: 0.875rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btns {
  margin-top: 2.8125rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.375rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/png/y.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 0.5rem;
}

.order__section {
  background: url(../img/bg.png) center bottom 21% no-repeat;
  color: #fff;
  position: relative;
}
.order__section::before {
  position: absolute;
  right: 10%;
  top: -1.5625rem;
  width: 2.1875rem;
  height: 2.1875rem;
  content: url(../img/png/polygon2.png);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: " ";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}