.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }

}   

.benefit__img-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(24px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(12px);
    }
}

.benefit__icon {
    width: rem(60px);
    height: rem(60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.benefit__title {
    color: $dark;
    font-weight: 700;
    font-size: rem(24px);
    margin-bottom: rem(7px);
}

.benefit__desc {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
}