.benefit {
    text-align: center;
}

.benefit__img-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px;
}

.benefit__icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.benefit__title {
    color: $dark;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 7px;
}

.benefit__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}