.feature {
    display: flex;
    align-items: center;
}

.feature__text {
    font-size: rem(16px);
    max-width: rem(114px);
}


.feature__icon {
    width: rem(40px);
    margin-right: rem(7px);
}
