.headline {
    text-align: center;
    margin-bottom: rem(60px);
}

.headline__title {
    // padding-top: rem(64px);
    margin-bottom: rem(18px);

   &--theme-left {
    position: absolute;
    color: #fff;
    top: rem(100px);
    left: 10%;

    @include phones {
        left: 2%;
    }
   }
    &--theme-dark {
        color: #fff;
    }
}

.headline__subtitle {
    padding: 0 25%;
    line-height: rem(19px);

    @include tablets {
        padding: 0 14%;
    }

    @include phones {
        padding: 0 6%;
    }
}