.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.icon__logo {
    margin-right: rem(20px);
    height: rem(40px);
    width: rem(40px);
    color: $pink;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    font-size: $baseFontSize;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: rem(27px);
    white-space: nowrap;

    @include phones{
        justify-content: center;
    }
    
}

.icon__phone {
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);
    flex-shrink: 0;
}
