html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}


html, body {
    height: 100%;
}

body {
    font-family: "Play", Roboto, Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    position: relative;
    color: #666666;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}


table {
    border-collapse: collapse;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

footer {
    position: relative;
    width: 100%;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
}