
.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    padding: rem(6px);

    &--checkbox {
        .radio__visible{
            border-radius: 0;

            &::before {
                background: url(../img/png/y.png) center center no-repeat;
            }
        }
    }

    @include phones {
        margin-bottom: rem(10px);
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before{
        display: block;   
        }
        
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &::before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: $pink;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title {
    margin-left: rem(8px);
}