.reviews__display {
    background: #F8FAF9;
    padding: rem(42px) rem(39px) rem(47px) rem(35px);
    position: relative;
    overflow: hidden;

    &::before {
        content: " ";
        display: block;
        width: rem(83px);
        height: rem(83px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-60px);
    }
}

.reviews__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(26px);
}

.reviews__display-inner {
    display: flex;
    padding: rem(5px) rem(0px) rem(0px) rem(4px);

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    

.reviews__avatar {
    height: rem(264px);
    width: rem(253px);
    margin-right: rem(40px);

    @include tablets {
        height: rem(130px);
        width: rem(130px);
        margin-right: 0;
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    
}

.reviews__content {
    flex: 1;
    padding-top: rem(34px);
    // margin-left: rem(40px);
    // margin-top: rem(34px);
}

.reviews__title {
    font-style: normal;
    font-weight: 700;
    font-size: rem(24px);
    color: $dark;
    margin-bottom: rem(27px);
}

.reviews__text {
    margin-bottom: rem(38px);
    padding-right: rem(62px);
    line-height: rem(19px);

    @include phones {
        justify-content: center;
        padding-right: 0;
    }
}
}
    


.reviews__autor {
    font-weight: 700;
    font-size: rem(18px);
    color: $dark;
}


.reviews__section {
    position: relative;

    &::after {
        position: absolute;
        left: 5%;
        bottom: rem(-1px);
        width: rem(35px);
        height: rem(35px);
        content: url(../img/png/ellipse7.png);
    }
}