.section {
    height: 100vh;
    min-height: 650px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

}



.section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: $dark;
    text-transform: uppercase;
    // margin-top: 64px;

}

